table
{
    margin-left: 10%;
    width: 60%;
}

.labels
{
    width: 20%;
    text-align: left;
}

.formularz
{
    width: 95%;
}

label
{
    font-size: 120%;
    color: gainsboro;
    font-weight: lighter;
    text-align: justify;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.czerwone{
    color: crimson;
    width: 50%;
    font-style: italic;
    font-weight: bold;
}

#quiz
{
    color: gainsboro;
    margin-left: 10%;
    margin-bottom: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#przegrana
{
    text-align: center;
    padding-top: 3%;
}

#wygrana
{
    text-align: center;
    padding-top: 1%;
    margin-bottom: 20px;
}

#wygrana table
{
    margin-left: 30%;
}

.active, .accordion {
    background-color: darkviolet;
    color: gainsboro;
    font-size: 130%;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-color: silver;
    outline: none;
    transition: 0.4s;
}

.accordion:after 
{
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion:hover
{
    background-color: #9966ff;
}

.active:after 
{
    content: "\2212";
}

.panel 
{
    display: none;
    overflow: hidden;
}

#wyslij, #anuluj
{
    background-color: rgba(0, 51, 204, 0.5);
    color: gainsboro;
}


@media screen and (min-width: 481px) and (max-width: 720px) 
{
    table
    {
        width: 70%;
    }
}

@media screen and (max-width: 481px) 
{
    table
    {
        width: 80%;
    }
}